body{
    background: white;
}

.search-input{
    width: 400px;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid grey;
    border-radius: 30px;
    height: 30px;
    font-size: 16px;
    padding: 5px;
}

.logo-img{
    width: 300px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.main{
    display:block;
    margin-top: 150px;
}

.search-button{
   text-align: center;
}

.button1, .button2{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: inline;
    width: 150px;
    caret-color: #0f1419;
    border: 1px solid #cfd9de;
    border-radius: 15px;
    height: 35px;
    font-weight: bold;
}